<button
  onclick="history.back()"
  style="border:none;background-color:transparent;cursor:pointer;font-size:32px;margin-bottom:24px;display:block;"
>
  <i class="fa-solid fa-arrow-left"></i>
</button>