
<h3 class="title is-2">Invigilate</h3>


<button type="submit" class="button is-primary is-block is-medium" onclick="location.reload()">Refresh</button>



  <div id="video-grid"></div>
    


<script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
<script src = "/socket.io/socket.io.js"></script>

<style>
  #video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  const videoGrid = document.getElementById('video-grid') // Find the Video-Grid element
  const socket = io();
  const myPeer = new Peer({ host: window.location.hostname, port: window.location.port, path: "/peer/video" });

  myPeer.on('open', id => { // When we first open the app, have us join a room
      socket.emit('join-room', 'invigilate', id)
  })

  myPeer.on('call', call => { // When we join the room we will receive a call from them
    call.answer();
    const video = document.createElement('video') // Create a video tag for them
    call.on('stream', userVideoStream => { // When we receive their stream
      addVideoStream(video, userVideoStream) // Display their video to ourselves
    })
  })

  function addVideoStream(video, stream) {
      video.srcObject = stream 
      video.muted = true
      video.addEventListener('loadedmetadata', () => { // Play the video as it loads
          video.play()
      })
      videoGrid.append(video) // Append video element to videoGrid
  }
</script>