<div class="quiz" style="padding:50px">

  <h2 class="title is-2 has-text-centered">{{quiz.title}}</h2>

  <div style="margin:20px 0;display:flex;justify-content:center;">
    <span class="tag is-primary has-text-weight-bold">{{quiz.subject}}</span>
  </div>

  <div
    style="display:flex;justify-content:space-between;align-items:center;margin:40px 0;"
  >
    <div class="quiz__stats">Question</div>

    <div class="quiz__time" style="width:10%;text-align:center;"></div>
  </div>

  <div class="quiz__question-container">

  </div>
  <div class="buttons" style="display:flex;justify-content:center;">
    <button class="button is-primary is-medium quiz__prev-button">
      Previous</button>
    <button class="button is-primary is-medium quiz__next-button">
      Next</button>
    <button class="button is-primary is-medium quiz__go-to-question__button">
      Go to question</button>
    <button
      class="button is-primary is-medium quiz__next-button quiz__submit-button"
    >
      Submit</button>

  </div>

  <div class="quiz__go-to-question__container"></div>

  <div class="quiz__camera">
    <canvas
      class="quiz__camera__output-video"
      width="300px"
      height="168.7"
    ></canvas>
    <video class="quiz__camera__input-video" style="display:none;"></video>
  </div>

  <div class="modal quiz__go-to-question__modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Go To Question</p>
        <button
          class="delete quiz__go-to-question__modal__close"
          aria-label="close"
        ></button>
      </header>
      <section class="modal-card-body quiz__go-to-question__modal__content">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">

      </footer>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/disable-devtool/disable-devtool.min.js"
></script>
<script src="/scripts/quiz/quizsecurity.js"></script>
<script>
  var questions =
  {{{json quiz.Questions}}}

  var _examData =
  {{{json quiz}}}
</script>
<script src="/scripts/quiz/takequiz.js"></script>

<style>
  .quiz__question-container__question__container{ box-shadow: 0 1px 10px 1px
  rgba(52, 40, 104, 0.08); padding:18px; border-radius:4px; font-size: 32px;
  margin-bottom:16px; } .quiz__question-container__option__container{
  display:flex; flex-direction:column; align-items: center; }
  .quiz__question-container__option{ type:a; width:95%; background-color: white;
  cursor: pointer; padding:16px; list-style-position: inside; border-radius:
  4px; box-shadow: 0 1px 10px 1px rgba(52, 40, 104, 0.08); color:black;
  border:1px solid white !important; margin-bottom:18px; }
  .quiz__question-container__option:hover { border-color:hsl(166, 67%, 51%);
  border-width: 1px; border-style: solid; transform: translateY(-1.5px)
  scale(1.04); } .quiz{ position:relative; height:100vh; }
  .quiz__camera__output-video{ position:absolute; bottom:20px; right:20px;
  border-radius: 8px; }
</style>